
body{
	background-color:#000000;
}

h1{
	color:#ffffff;
	text-align:center;
	margin-top:4%;
	font-family: 'Droid Sans';
}
h3{
	color:#ffffff;
	text-align:center;
	margin-top:3%;
	font-family: 'Droid Sans';
}
#Next{
		margin-top:1%;
		letter-spacing: 25px;
		font-weight:900;
}
p{
	color:#ffffff;
	text-align:center;
	font-family: 'Droid Sans';
}
h2{
	color:#ffffff;
	font-family: 'Droid Sans';
}
.inline{
	display:inline-block;
}
#Ncelules{
	padding-left:4.5%;
}
#dimension{
  z-index: 15;
  padding-left: 45%;
  
}
  @media screen and (max-width: 700px) {
#Ncelules {
    padding-left: 10%;
}
#dimension{
  z-index: 15;
  padding-left: 35%;
  }
  img{
	padding:5%;
	padding-left:20%;
	width:65%;
	height:40;
}
  .button{
	  display: block;
}
.button2{
    padding-left: 0px;
    padding-right: 0px;
}
 } 

@media only screen and (min-width: 700px) {
	
img{
	padding-top:1%;
	padding-bottom:1%;
	padding:1%;
	padding-left:20%;
	width:30%;
	height:18%;
	margin-left:15%;
}
.button2{
	padding-left:30%;
	padding-right: 30%;
}
}


/*Button*/

.button {
  padding: 10px 30%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.button {
  border: 2px solid #fff;
  z-index: 1;
}
.button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}

.button:active {
  top: 2px;
}
/*Taula*/
table {
    background-color: #000;
    border-spacing: 0;
}

td {
    border: 0.5px solid #ffea8b;
    border-radius: 2px ;
    padding-bottom: 0px;
    padding-top:2.5px;
 }
table{
margin-left:auto;
margin-right:auto;
margin-top:5%;
}
.error{
font-family: 'Droid Sans';
color:red;
}
.celules{
	border-radius: 50%;
	transition: box-shadow .3s;
	background: lightgrey;
	cursor: pointer;
	border: 0;
	appearance: none; -webkit-appearance: none; 
	width: 15px; height: 15px;

}
.celules:checked{ box-shadow: inset 0 0 0 20px red;}
/*Butó Js*/
.btn {
  background: #ffffff;
  border-radius: 2px;
  font-family: 'Droid Sans';
  color: #000;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-weight:bold;
}

.btn:hover {
  background: #ff8282;
  text-decoration: none;
  opacity: 0.6;
  transition: 0.3s;
}
.botoInici{
display: table;
  margin: 0 auto;
}
a{color:white;}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
